<!-- Filter med radioknappar -->
<form method="GET" action="/">
  <fieldset class="filterButtonContainer">
    <!-- <legend>Filtrera</legend> -->

    <!-- Alla -->
    <input type="radio" id="all" name="category" value=""
    onchange="this.form.submit()" <%= !req.query.category ? "checked" : "" %>>
    <label class="filterButton" for="all">Alla</label>

    <!-- Varje kategori -->
    <% categories.forEach(category => { %> <input type="radio" id="<%=
    category.typeValue %>" name="category" value="<%= category.typeValue %>"
    onchange="this.form.submit()" <%= req.query.category === category.typeValue
    ? "checked" : "" %>>
    <label class="filterButton" for="<%= category.typeValue %>"
      ><%= category.typeDisplay %></label
    >
    <% }) %>
  </fieldset>
</form>

<!-- Lista över poster -->
<ul class="cardList" id="cardList">
  <% items.forEach(item => { %>
  <li class="listItem" id="<%= item.id %>">
    <div class="card" id="quote-<%= item.id %>" tabindex="0">
      <%- include("partials/quote", {item: item}) %>
    </div>
    <div class="modal" id="quoteDetails-<%= item.id %>">
      <div class="modal-container">
        <%- include("partials/quote", {item: item}) %>
        <div class="button-container">
          <button type="button" class="btn-primary" onclick="closeDetails()">
            Stäng
          </button>
        </div>
      </div>
    </div>
  </li>
  <% }) %>
</ul>

<button class="btn-cta" id="newQuoteBtn">Lägg till</button>

<script src="/scripts/newBtn.js"></script>
